/*.container-style {
    padding-top: 70px; /!* Whatever you want. *!/
}*/
/*.navbar-fixed-top {*/
    /*height: 70px; /!* Whatever you want. *!/*/
/*}*/

/*body {*/
    /*padding-top: 65px;*/
/*}*/
.myTable tbody tr td:first-child{
    font-weight: bold;
}

.navbar-text:hover {
    text-decoration: none;

}

.navbar-default {
    /*background-color: rgba(0, 92, 9, 1);*/
    background-color: #1e5e13;
}
.navbar-default .navbar-text {
    color: white;
}
.navbar .nav > li > a {

    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: black;

}


.btn-default {
    color: white;
    background-color: rgba(0, 92, 9, 1);
}


.activeTab{
    background-color: #5ba319;
    border: solid white 1px;
}


#banner {
background: url(../images/banner.png) center no-repeat;
    border-bottom: solid 0.5px white;
    height: 8em;
   
    background-size: cover;
    
}
#bannerText {
    text-align: center;
    font-family: 'Lobster', cursive,Baskerville, "Baskerville Old Face";
    font-size: 4em;
   
    color: white;
     text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
    
}



