<div  class=" col-md-8 col-md-offset-1">
    <h2>Einloggen</h2>
    <form name="loginForm" id="loginForm" class="form-horizontal col-md-offset-2" role="form">
        <div class="form-group" >
            <label class="control-label col-sm-3" for="loginEmail">Email:</label>
            <div class="col-sm-6"  ng-class="{ 'has-error' : loginForm.logEmail.$error.email }">
                <input type="email" name="logEmail"ng-model="vm.email" class="form-control" id="loginEmail" placeholder="someone@example.de" required >
                <span class=" help-block" ng-show="loginForm.logEmail.$error.email">Bitte eine gueltige E-Mail eingeben.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="loginPwd">Passwort:</label>
            <div class="col-sm-6" ng-class="{ 'has-error' : loginForm.logPwd.$error.minlength }" >
                <input name="logPwd" type="password"ng-model="vm.password" class="form-control" id="loginPwd" placeholder="Passwort eingeben" ng-minlength="8" required>
                <span class=" help-block" ng-show="loginForm.logPwd.$error.minlength">Mindestens 8 Zeichen.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <buttovn ng-disabled="!vm.email || !vm.password" type="submit" ng-click="vm.login()" class="btn btn-default pull-right" >Login</buttovn>
                <div class="col-sm-5 col-sm-offset-4"><a style="text-decoration: none" href="#/register_view">Noch nicht Registriert?</a></div>
                <div class="col-sm-5 col-sm-offset-4">
                    <span class="alert-danger" ng-if="error"><strong>{{ error }}</strong></span>
                </div>
            </div>
        </div>
    </form>
</div>