<div class="col-md-9 col-md-offset-1">
    <h2>Meine Turniere</h2>
    <form class="form-horizontal col-md-offset-2" role="form">
        <div class="form-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th >Name</th>
                        <th class="text-center">Ansehen</th>
                        <th class="text-center">Bearbeiten</th>
                        <th class="text-center">Editor hinzufügen</th>
                        <th class="text-center">Löschen</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tournament in tournaments" ng-class="{out:'abgeschlossen', inactive:'ausstehend', active:'laufend'}" ng-switch on="tournament.state">


                        <td>{{tournament.tournamentId}}</td>
                        <td>{{tournament.name}}</td>
                        <!-- <td class="text-center"><a href="#/roundRobin_view/{{tournament.id}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>-->
                        <td class="text-center"><button class="btn-link" ng-click="showTournament(tournament.tournamentId)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                       <td class="text-center"><button class="btn-link" ng-click="editTournament(tournament.tournamentId)"><span class="glyphicon glyphicon-edit"></span></button></td>
                        <td class="text-center">
                            <input type="text" name="editorname" ng-model="tournament.editorname" id="editorname"><button class="btn-link" ng-click="addEditor(tournament.tournamentId)"><span class="glyphicon glyphicon-plus-sign"></span></button></td>
                        <td class="text-center"><button class="btn-link" ng-click="deleteTournament(tournament.tournamentId)"><span class="glyphicon glyphicon-remove"></span></button></td>
                        <td class="text-center" ng-switch-when="abgeschlossen">Abgeschlossen</td>
                        <td class="text-center" ng-switch-when="ausstehend">Ausstehend</td>
                        <td class="text-center" ng-switch-when="laufend">Aktiv</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </form>
</div>
<div class="col-md-9 col-md-offset-1">
    <h2>Editierbare Turniere </h2>
    <form class="form-horizontal col-md-offset-2" role="form">
        <div class="form-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th >Name</th>
                        <th class="text-center">Ansehen</th>
                        <th class="text-center">Bearbeiten</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tournament in editabletournaments" ng-class="{out:'abgeschlossen', inactive:'ausstehend', active:'laufend'}" ng-switch on="tournament.state">


                        <td>{{tournament.tournamentId}}</td>
                        <td>{{tournament.name}}</td>
                        <!-- <td class="text-center"><a href="#/roundRobin_view/{{tournament.id}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>-->
                        <td class="text-center"><button class="btn-link" ng-click="showTournament(tournament.tournamentId)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                        <td class="text-center"><button class="btn-link" ng-click="editTournament(tournament.tournamentId)"><span class="glyphicon glyphicon-edit"></span></button></td>
                        <!--<td class="text-center"><button class="btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button></td>-->
                        <!--<td class="text-center"><button class="btn-link" ng-click="deleteTournament(tournament.tournamentId)"><span class="glyphicon glyphicon-remove"></span></button></td>--> 
                        <td class="text-center" ng-switch-when="abgeschlossen">Abgeschlossen</td>
                        <td class="text-center" ng-switch-when="ausstehend">Ausstehend</td>
                        <td class="text-center" ng-switch-when="laufend">Aktiv</td>
                    </tr>

                </tbody>

            </table>
        </div>
    </form>
</div>