<div class="col-md-12" style="text-align:center">
    <form class="form-horizontal"  name="alertForm" id="alertForm" role="form">
        <div class="alert alert-success alert-dismissible" role="alert">
            <strong>Willkommen {{globals.email}}!</strong>
        </div>
    </form>
</div>