<!DOCTYPE html>
<html ng-app="turnierPlanerApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Turnier Planer</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainController">
    
       <div class="container-fluid" id="banner">
      <div class="row">
          
           
            <h1 id="bannerText"> <strong>{{appTitle}}</strong> </h1>
            
      </div>
           
    </div>

<nav class="navbar navbar-default navbar-static-top " role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            
            
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
       
        <div class="collapse navbar-collapse navbar-style"  id="myNavbar" ng-controller="SetTabActiveController">
            <ul class="nav navbar-nav">
                <li ng-class="{activeTab:isActive('/home_view')}"><a href="#/home_view"><span  class=" glyphicon glyphicon-home"></span> Home</a></li>
                <li ng-class="{activeTab:isActive('/myTournaments_view')}"><a href="#/myTournaments_view" ng-show="globals.registered"><span class="glyphicon glyphicon-th"></span> Meine Turniere</a></li>
                <li ng-class="{activeTab:isActive('/createTournament_view')}"><a href="#/createTournament_view" ng-show="globals.registered"><span class="glyphicon glyphicon-plus"></span> Neues Turnier</a></li>
                <li ng-class="{activeTab:isActive('/kO_view')}"><a href="#" ng-show="globals.registered">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{activeTab:isActive('/register_view')}" ng-show="!globals.registered"><a href="#/register_view"><span class="glyphicon glyphicon-user"></span> Registrieren</a></li>
                <li ng-class="{activeTab:isActive('/login_view')}" ng-show="!globals.registered"><a href="#/login_view" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                
                <li><span class="navbar-text" ng-show="globals.registered">Eingeloggt als {{globals.email}}</span></li>
                <li><a href="#/login_view" ng-click="logout()" ng-show="globals.registered"><span class="glyphicon glyphicon-log-out" ></span> Logout</a></li>
            </ul>
        </div>
        <div ></div>
    </div>

</nav>
<div class=" container-fluid container-style">
    <div class="col-md-12">
 <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message" style="text-align:center;"></div>
 </div>
<div class="row"  ng-view>



</div>


</div>







<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<!--<script src="js/underscore-min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<!--<script src="js/angular.js"></script>-->
<script src="js/angular-route.min.js"></script>
<script src="js/angular-cookies.js"></script>
<script src="js/app.js"></script>
<script src="controllers/LoginViewController.js"></script>
<script src="controllers/RegisterViewController.js"></script>
<script src="controllers/SubmitController.js"></script>
<script src="controllers/CreateTournamentController.js"></script>
<script src="controllers/HomeViewController.js"></script>
<script src="controllers/MyTournamentsController.js"></script>
<script src="controllers/RoundRobinController.js"></script>
<script src="controllers/WelcomeViewController.js"></script>
<script src="controllers/KOController.js"></script>
<script src="services/authenticationService.js"></script>
<script src="services/userService.js"></script>
<script src="services/FlashService.js"></script>
<script src="js/myScript.js"></script>

</body>
</html>